/* CSS Demo Stylesheet */

/*  My color palette: Navyblue #073770  |  Yellow #FAF0B1  | Pink #FFCDE5  | Lightblue #D2F0FF  | Black #000000 | Darkpurple #57184A | White #FFFFFF */

/* My font: Verdana, sans-serif	*/

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/* ------------------Responsive Images------------------*/
img{
  max-width:100%;
}

/* ------------------Utility Classes------------------ */

.container{
  width:80vw;
  max-width:960px;
  margin: 40px auto;
}





  
/*  ---------------Global Styles-----------------  */

body{
    font-family: "Verdana", sans-serif;
    margin:0;
}

header.primary{
  background:#57184A;
  color:#FFFFFF;
    text-shadow:2px 1px #000000;

    /* long from */
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;

    /*Single value short hand */
    padding: 40px;

    /* T, R, B, L */

    padding: 20px 40px 20px 40px;

    /* Two Value Top/Bottom  L/R */
    padding: 20px 40px;
    text-align:center;

}

header.primary h1{
  font-size: 3rem;
  margin:20px 0 0 0;
}

header.primary h1 a{
  color:#FFFFFF;
  text-decoration:none;
}

header.primary h2{
  font-size: 1.5rem;
  margin:5px 5px;
}

nav.primary{
  max-width:960px;
  margin:auto;
}

nav.primary ul{
  padding: 10px 15px;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

nav.primary ul li{
  list-style-type: none;

}

nav.primary ul li a{
  color: #FFCDE5;
  text-decoration:none;
  border: 1px solid #FAF0B1;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(0,0,0, .3);
  transition: .4s;
}

nav.primary ul li a:hover{
  background-color: rgba(0,0,0, .9);
}

#intro{
  line-height:1.6;
}
#intro h2{
  color:#57184A;
  border-bottom: 1px dotted #FFCDE5;
}

#content{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  gap:2rem;
}

#content article.post{
  box-shadow: 0 4px 8px rgba(0,0,0, .6);
  padding:15px;
  border-radius:4px;
  font-size:.8rem;
}

time.post-date, figcaption{
  text-transform:uppercase;
  color:#FFCDE5;
}

#content a{
  color: #57184A;
}

#content article.post figure{
  margin:0;
}



















/* ------ Media Queries --------- */

@media screen and (max-width:650px){

  nav.primary ul{
    flex-direction:column;
    gap:20px;
    max-width: 250px;
    margin:10px auto;

  }

  nav.primary ul a{
    display:block;
  }

}