/* CSS Demo Stylesheet */

/*  My color palette: Navyblue #073770  |  Yellow #FAF0B1  | Pink #FFCDE5  | Lightblue #D2F0FF  | Black #000000 | Darkpurple #57184A | White #FFFFFF */

/* My font: Verdana, sans-serif	*/

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/* ------------------Responsive Images------------------*/
img{
  max-width:100%;
}

/* ------------------Utility Classes------------------ */

.container{
  width:80vw;
  max-width:960px;
  margin: 40px auto;
}

.img-right{
  float:right;
  margin:10px 0 10px 20px;
  border:1px solid #ccc;
  padding:5px;
  border-radius:5px;
}

.img-left{
  float:left;
  margin:10px 20px 10px 0px;
  border:1px solid #ccc;
  padding:5px;
  border-radius:5px;
}

.img-center{
  border:1px solid #ccc;
  padding:5px;
  border-radius:5px;
  display:block;
  margin:20px auto;
}

  
/*  ---------------Global Styles-----------------  */

body{
    font-family: "Verdana", sans-serif;
    margin:0;
}

header.primary{
  background-color: #57184A;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");


  background-color:#57184A;
  color:#FFFFFF;
    text-shadow:2px 1px #000000;

    /* long from */
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;

    /*Single value short hand */
    padding: 40px;

    /* T, R, B, L */

    padding: 20px 40px 20px 40px;

    /* Two Value Top/Bottom  L/R */
    padding: 20px 40px;
    text-align:center;

}

header.primary h1{
  font-size: 3rem;
  margin:20px 0 0 0;
}

header.primary h1 a{
  color:#FFFFFF;
  text-decoration:none;
}

header.primary h2{
  font-size: 1.5rem;
  margin:5px 5px;
}

nav.primary{
  max-width:960px;
  margin:auto;
}

nav.primary ul{
  padding: 10px 15px;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

nav.primary ul li{
  list-style-type: none;

}

nav.primary ul li a{
  color: #FFCDE5;
  text-decoration:none;
  border: 1px solid #FAF0B1;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(0,0,0, .3);
  transition: .4s;
}

nav.primary ul li a:hover{
  background-color: rgba(0,0,0, .9);
}

#intro{
  line-height:1.6;
}
#intro h2{
  color:#57184A;
  border-bottom: 1px dotted #FFCDE5;
}

#content{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  gap:2rem;
  border-top:1px dotted #FFCDE5;
  padding: 2.6rem;
  border-bottom:1px dotted #FFCDE5;
}

#content article.post{
  box-shadow: 0 4px 8px rgba(0,0,0, .6);
  padding:15px;
  border-radius:4px;
  font-size:.8rem;
}

#content article.post:hover{
  box-shadow: 0 8px 16px rgba(0,0,0,.6);
}


time.post-date, figcaption{
  text-transform:uppercase;
  color:#FFCDE5;
}

#content a{
  color: #57184A;
}

#content article.post figure{
  margin:0;
}

#practice h2{
  color: #57184A;
  border-bottom: 1px dotted #FFCDE5;
}

#practice a{
  color:#073770;
  transition:.4s;
}

#practice a:hover{
  text-decoration:none;
  transition:.4s;
}

#practice h3{
  border-left:7.5px solid #FFCDE5;
  padding:5px 10px;
}

table{
  width:100%;
  border:1px solid #ccc;
  margin:40px 0px;
  border-collapse:collapse;
}

caption{
  font-weight: bold;
  margin:10px;
}

tr:nth-child(even){
  background-color:rgba(0, 0, 0, 0.1);
}

tr:hover{
  background-color: rgba(0, 0, 0, 0.4);
}


th{
  background-color:#D2F0FF;
}

td{
  border:1px solid #cccccc;
  padding:5px;
}

td:nth-child(n+2){
  text-align:right;
}

#practice ol{
  list-style-type:lower-alpha;
}

#practice ul{
  list-style-type:square;
}

#practice ul li ul{
  list-style-type:disc;
}

#practice dt{
  font-weight:bold;
}

#practice dd{
  margin:0;
}

dd + dt{
  margin-top:20px;
}

blockquote{
  border: 4px groove;
  padding: 15px 30px;
  background-color: #073770;
  color:#FFFFFF;
  border-radius: 5px;
  margin:;
  line-height:;
}

cite{
  display:block;
  text-align:right;
  font-size:.7rem;
  margin-top:1rem;
}


aside[role="complementary"]{
  background-color:#D2F0FF ;
  color: #073770;
  padding:40px 0;  
}
aside .container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 60px;
}

aside a{
  color: #073770;
}

aside a:last-of-type{
  display:block;
  margin-top: 20px;
  text-align: right;
}

aside .widget footer{
  display: none;
}

footer#colophon.primary {
  background-color: #000000;
  color:#FFCDE5;
  padding:10px;
  text-align:center;
  font-size:1.2rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}





















/* ------ Media Queries --------- */

@media screen and (max-width:650px){

  nav.primary ul{
    flex-direction:column;
    gap:20px;
    max-width: 250px;
    margin:10px auto;

  }

  nav.primary ul a{
    display:block;
  }

  aside .container{
    flex-direction:column;
    gap:60px;  
  } 
}

@media screen and (max-width:550px){
  #content{
    flex-direction:column;
  }

}