/* CSS Demo Stylesheet */

/*  My color palette: Blue #7ABFBF  |  Green #9EBF56  | Pink #D98FB1  | CoffeeBrown #BFA288  | Black #000000 | Wood #A64826 | White #FFFFFF */

/* My font: font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;	*/

/*  ---------------Box Sizing-----------------  */

html{
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/* ------------------Responsive Images------------------*/
img{
  max-width:100%;
}

/* ------------------Utility Classes------------------ */

.container{
    width:80vw;
    max-width:1000px;
    margin: 40px auto;
  }
  
.img-right{
    float:right;
    margin:10px 0 10px 20px;
    border:1px solid #ccc;
    padding:5px;
    border-radius:5px;
}
  
.img-left{
    float:left;
    margin:10px 20px 10px 0px;
    border:1px solid #ccc;
    padding:5px;
    border-radius:5px;
  }
  
.img-center{
    border:1px solid #ccc;
    padding:5px;
    border-radius:5px;
    display:block;
    margin:20px auto;
  }
  
    
  /*  ---------------Global Styles-----------------  */

  
body{
    font-family: "Century Gothic", sans-serif;
    margin:0px;
  }

header.primary{
    background-color:#7ABFBF;
    padding:20px 40px;
    display:flex;
    align-items: center;
    justify-content: space-between;
  }

header.primary h1{
    margin:10px 20px;
    color:#ffffff;
    font-size: 2.5rem;
  }

nav.primary{
    margin:0px;
  }
  
nav.primary ul{
    padding: 10px 15px;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
  }

nav.primary ul li{
    list-style-type: none;
    margin:0 0 0 20px;
  }

nav.primary ul li a{
    text-decoration:none;
    padding:5px 10px;
    color:#ffffff;
    transition:0.3s;
  }

nav.primary ul li a:hover{
    color:navy;
    text-decoration: underline;
  }

/*------------------ Intro ------------------- */

section#intro h2{
  font-size:2rem;
}

#intro{
    line-height: 1.4;
  }



/* -------------- Services -------------------*/

section#services{
  padding:20px;

}

section#services > div{
  background-color:#fff;
  padding: 20px 0px;
  margin: 20px 0px;
}

section#services img{
  border-radius: 0px;
}

section#services div:first-child{
  margin-bottom: 60px;
}

div#img-left {
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items:flex-start;
  gap:1.5rem;
}

div#img-right {
  display:flex;
  flex-direction: row-reverse;
  justify-content:center;
  align-items:flex-start;
  gap:1.5rem;
}

div.side-text{
  margin:0px 10px;
}

div#img-left h3{
  color:#9EBF56;
  font-size:2rem;
}

div#img-right h3{
  color:#A64826;
  font-size:2rem;
}



/* -------------------- Events ---------------------- */

section#events{
  background-color: #BFA288;
  padding:20px;
}

section#events h2{
  color: #ffffff;
  font-size: 2rem;
  text-align:center;
  text-shadow:2px 2px #000;
}

section#events .container{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}


#events article.post{
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  padding: 20px;
  transition: 0.6s;
  font-size: 0.8rem;
  border-radius: 10px;
  background: #fff;
}

.post figcaption{
  font-size:x-small;
}

.post h3,
.post time,
.post p{
  padding:0px 10px;
}

.post h3{
  font-size:1.4rem;
  color:#A64826;
}

.post figure{
  margin:0px;
}

.post img{
  border-radius: 10px;
}

article.post time{
  font-weight: bold;
}











/*---------------- Our Studio --------------- */

aside#studio{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:flex-start;
  padding:20px 0px;
}

aside#studio h2{
  color:#D98FB1;
  border-bottom: 1px solid #ccc;
  font-size:2rem;
}

#address{
  padding: 0px 20px;
}

aside#studio li{
  margin-bottom:20px;
}



/*-------------------- Footer  ---------------------  */
footer#colophon {
  background-color: #000000;
  color:#fff;
  padding:10px;
  text-align:center;
  font-size:1.2rem;
}

















/*--------------------Media Queries -----------------*/

@media screen and (max-width:940px){
  nav.primary ul{
    flex-direction:column;
    gap:5px;
    max-width:250px;
    margin:10px auto;
  }

  div#img-left,
  div#img-right{
    flex-direction:column;
  }

  

}

@media screen and (max-width:700px){
  section#events .container{
    flex-direction:column;
    gap:40px;

  }

  #events article.post{
    width:100%;
  }

  aside#studio{
    flex-direction:column;
  }
}

