/* CSS Demo Stylesheet */

/*  My color palette: Blue #7ABFBF  |  Green #9EBF56  | Pink #D98FB1  | CoffeeBrown #BFA288  | Black #000000 | Wood #A64826 | White #FFFFFF */

/* My font: font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;	*/

/*  ---------------Box Sizing-----------------  */

html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ------------------Responsive Images------------------*/
img{
max-width:100%;
}

/* ------------------Utility Classes------------------ */

.container{
  width:80vw;
  max-width:1000px;
  margin: 40px auto;
}

.img-right{
  float:right;
  margin:10px 0 10px 20px;
  border:1px solid #ccc;
  padding:5px;
  border-radius:5px;
}

.img-left{
  float:left;
  margin:10px 20px 10px 0px;
  border:1px solid #ccc;
  padding:5px;
  border-radius:5px;
}

.img-center{
  border:1px solid #ccc;
  padding:5px;
  border-radius:5px;
  display:block;
  margin:20px auto;
}

  
/*  ---------------Global Styles-----------------  */


body{
  font-family: "Century Gothic", sans-serif;
  margin:0px;
}

header.primary{
  background-color:#7ABFBF;
  padding:10px 40px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

header.primary h1{
  margin:10px 20px;
  color:#000000;
  font-size: 2.2rem;
}

header.primary h1 a {
  color: #000;
  background-image: url("../img/palette.png");
  display: block;
  width: 340px;
  height: 80px;
  margin: 0 auto;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


nav.primary{
  margin:0px;
}

nav.primary ul{
  padding: 10px 15px;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

nav.primary ul li{
  list-style-type: none;
  margin:0 0 0 20px;
}

nav.primary ul li a{
  font-size:1.1rem;
  text-decoration:none;
  padding:5px 10px;
  color:#000000;
  transition:0.4s;
}

nav.primary ul li a:hover{
  color:rgb(254, 254, 255);
  text-decoration: underline;
}

/*------------------ Intro ------------------- */

section#intro h2{
  font-size:2.5rem;
  color:#7ABFBF;
}

#intro{
  line-height: 1.4;
}


/* -------------- Services -------------------*/

section#services{
  padding:10px 0;
}


section#services > div{
  background-color:#fff;
  padding: 20px 0px;
  margin: 40px 0px;
}

section#services img{
  border-radius: 0px;
}

section#services div:first-child{
  margin-bottom: 60px;
}

div#img-left {
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items:flex-start;
  gap:1.5rem;
}

div#img-right {
  display:flex;
  flex-direction: row-reverse;
  justify-content:center;
  align-items:flex-start;
  gap:1.5rem;
}

div.side-text{
  margin:0px 10px;
}

div#img-left h3{
  color:#D98FB1;
  font-size:2rem;
}

div#img-right h3{
  color:#A64826;
  font-size:2rem;
}



/* -------------------- Events ---------------------- */

section#events{
  background-color: #BFA288;
  padding:20px;
  margin:40px 0px;
}

section#events h2{
color: #ffffff;
font-size: 2rem;
text-align:center;
text-shadow:2px 2px #000;
}

section#events .container{
display:flex;
flex-direction:row;
justify-content: space-between;
}


#events article.post{
width: 30%;
box-shadow: 0 4px 8px rgba(0,0,0, .6);
padding: 20px;
transition: 0.4s;
font-size: 0.8rem;
border-radius: 10px;
background: #fff;
}

#events article.post:hover{
box-shadow: 0 8px 16px rgba(0,0,0, .6);
}

.post figcaption{
font-size:x-small;
}

.post h3{
font-size:1.4rem;
color:#A64826;
}

.post figure{
margin:0px;
}

.post img{
border-radius: 10px;
}

article.post time{
font-weight: bold;
}











/*---------------- Our Studio --------------- */

aside#studio{
display:flex;
flex-direction:row;
justify-content:space-around;
align-items:flex-start;
padding:20px 0px;
}

aside#studio h2{
color:#9EBF56;
border-bottom: 1px solid #ccc;
font-size:2rem;
}

#address{
padding: 0px 20px;
}

aside#studio li{
margin-bottom:20px;
}

aside#studio figure img{
width:420px;
height: 560px;
}













/*-------------------- Footer  ---------------------  */
/* My font: font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;	*/

footer#colophon {
display:flex;
flex-direction:row;
justify-content:space-evenly;
background-color: #262626;
color:#fff;
padding:20px;
text-align:center;
font-size:1.2rem;
align-items: center;
}


footer#colophon > p{
font-size: 2rem;
font-family: "Century Gothic", AppleGothic;
font-style: italic;
max-width:100px;
text-align: left;
font-weight: bold;
}

div#contact p{
font-size: medium;
}

div#contact a{
  color: #ffffff;
}



/* ------------------------------------------------ What to Make & Do HTML----------------------------------------------------- */

section#table-contents{
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 6px #000;
  border-radius:10px;
  padding: 10px 20px;
  max-width:30%;
  margin-left: 17.1%;

}

section#table-contents h4{
  color:#262626;
  font-size: 1.3rem;
}

section#table-contents li{
  font-size: 1.1rem;
}

section#table-contents ol li{
  margin-bottom: 10px;
}

section#table-contents a{
  text-decoration: none;
  color:#000;
}

section#table-contents a:hover{
  text-decoration: underline;
  color:#7ABFBF;
}

section#table-contents a:visited{
  text-decoration: none;
}


section#content{
  border: 1.5px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #000;
  padding:20px 40px;

}

section#content div{
  margin-bottom:40px;
  padding: 0 20px;
}

section#content h3{
  color:#D98FB1;
  font-size:1.6rem;
}

section#content img{
  width:50%;
  border:1px double #000000;
}

div#paint-pottery table{
  width: 80%;
  border:1px solid #ccc;
  margin:40px 0px;
  border-collapse:collapse;
}

div#paint-pottery caption{
  font-weight: bold;
  margin:10px;
  font-size:1.3rem;
  color:#000000;

}

#paint-pottery th{
  border:1px solid #cccccc;
  padding:5px;
  background-color: #c4e2e2;
}

#paint-pottery td{
  border:1px solid #cccccc;
  padding:5px;
}

tr:nth-child(even){
  background-color:rgba(0, 0, 0, 0.1);
}

tr:hover{
  background-color: rgba(0, 0, 0, 0.4);
}


.button{
  padding:5px;
  border-radius: 5px;
}

.button a{
  text-decoration: none;
  color:#7ABFBF;
}


/* ----------------------------------------------------- About HTML------------------------------------------------------------- */
section#about-intro,
section#our-story,
section#our-founders,
section#choose-us{
  padding-bottom:10px;
}

#about-intro h2{
  color:#7ABFBF;
  font-size: 2.5rem;
}

#about-intro div{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:flex-start;
  gap:3rem;
}

#about-intro div p{
  max-width: 50%;
  font-size: 1.1rem;
}

#about-intro div img{
  padding: 5px;
}

section#our-story h2{
  color:#D98FB1;
  font-size: 2.5rem;
}


section#our-founders h2{
  color:#A64826;
  font-size: 2.5rem;
}

div.fade{
  margin:20px;
  padding:20px;
}

div.fade img{
  max-width: 75%;
  margin: 0px auto;
  padding-left: 20px;
}

div.bio{
  margin: 50px 0;
  padding-right: 20px;
}

div.bio h4{
  font-size: 1.3rem;
}

/* Customize Previous/Next/Dots/Autoplay */

.slick-autoplay-toggle-button,
.slick-prev .slick-prev-icon, .slick-next .slick-next-icon,
.slick-dots li button .slick-dot-icon,
.slick-dots li.slick-active button .slick-dot-icon {
  color: grey;
}

/* Customize Previous/Next/Dots/Autoplay - Active State */

.slick-next:focus .slick-next-icon,
.slick-next:focus .slick-prev-icon,
.slick-prev:focus .slick-next-icon,
.slick-prev:focus .slick-prev-icon,
.slick-dots li button:focus .slick-dot-icon:before,
.slick-dots li.slick-active button:focus .slick-dot-icon,
.slick-autoplay-toggle-button:focus 
{
    color:black;
}

/* I tried flexbox inside the accessible slick, it didn't work*/
/* 
div.founders{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}  */


section#choose-us h2{
  color: #9EBF56;
  font-size: 2.5rem;
}




/*--------------------Media Queries -----------------*/

@media screen and (max-width:940px){
nav.primary ul{
  flex-direction:column;
  gap:5px;
  max-width:250px;
  margin:10px auto;
}

div#img-left,
div#img-right{
  flex-direction:column;
}



}

@media screen and (max-width:700px){
section#events .container{
  flex-direction:column;
  gap:40px;

}

#events article.post{
  width:100%;
}

aside#studio{
  flex-direction:column;
}

#about-intro div{
  flex-direction: column;
}
}

